@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


:root {
  --card-bg: #313131;
  --card-text: #f5f5f5;
  --card-accent: #ebebeb;
  --stat-color: #5f5f5f;
  --card-back: radial-gradient(#ebebeb33 2px, transparent 0), 
               linear-gradient(to bottom, #313131 65%, #ebebeb);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Suit', sans-serif; 
  letter-spacing: -0.5px;
}

body {
  background: #eee;
  overflow: hidden;
  margin: 0; padding: 0;
}

ul,li{list-style: none; margin: 0; padding: 0;}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.tal{text-align: left !important;}
.tac{text-align: center !important;}
.tar{text-align: right !important;}

/* ================= CARD ================= */
#cardArea.folded{
  justify-content: center;
}

#cardArea.folded .card{
  transform: scale(1);
}

.card-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.card-area .card{
  transform: scale(0.9);
}

.card {
  position: relative;
  width: 1200px;
  height: 600px;
  background: var(--card-back);
  background-size: 20px 20px, 100% 100%; /* 점 패턴 간격과 전체 배경 크기 */
  background-repeat: repeat, no-repeat;
  color: var(--card-text);
  border-radius: 24px;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 0;
  /* box-shadow: 0 5px 20px rgba(0,0,0,0.3); */
  overflow: hidden;
  transition: transform ease 0.5s;
}
.card.smallImg{
  grid-template-columns: 250px 1fr;
}

#card::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  background:var(--card-bg);
  opacity: 0.3;
  pointer-events: none;
  z-index: 1; /* 카드 내부 콘텐츠보다 뒤로 */
}

.card-tit{
  display: inline-block;
  width: max-content;
  min-width: 300px;
  max-width: 100%;
  position: absolute;
  bottom: 0; left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.5px;
  padding:15px 15px;
  word-break: keep-all;
  z-index: 2;
  text-align: center;
  background: var(--card-accent);
  color: var(--card-bg);
  border-radius: 20px 20px 0 0;
}

.card-left {
  position: relative;
  z-index: 2;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position:top center;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.info-top {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.info-wrapper{
  width: 35%;
}

#infoContainer{
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 20px;
}
.info-row{
  padding-left: 8px;
}

.info-row + .info-row{
  margin-top: 10px;
}

.info-row strong {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 8px;
  color: var(--card-text);
  border-left: 3px solid var(--stat-color);
  font-size: 15px;
  font-weight: 700;
  margin-left: -8px;
}

.info-row span{
  font-size: 13px;
  font-weight: 500;
  word-break: keep-all;
}

#infoContainer02{
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 20px;
  margin-top: 20px;
  border-top: 1px solid var(--stat-color);
}
.preset-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.preset-buttons > button{
  display: block;
  max-width: calc((100% / 4) - 4px);
  line-height: 12px;
}

.tags-wrapper{
    display: block;
    word-break: break-all;
    margin-top: 5px;
    padding-left: 10px;
}
.tag {
  display: inline-block;
  margin: 5px 2px 0;
  background: var(--card-accent);
  color: var(--card-bg);
  padding: 3px 10px;
  letter-spacing: -0.5px;
  border-radius: 6px;
  font-size: 13px;
  white-space: nowrap;
}

.info-tit{
  display: block;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 5px;
}

.info-end{
  position: relative;
  width:33%;
  height: 100%;
  padding-top:20px;
  border-left: 1px solid var(--stat-color);
}
/* ===== Radar ===== */
.stat-wrapper { 
  position:relative; 
  width:100%; 
  margin:0 auto; 
  padding: 0 10px;
}
.stat-wrapper svg { width:100%; height:100%; }

.stat-wrapper polygon {
  fill: rgba(255,255,255,0.05);
  stroke: var(--card-accent);
  stroke-width: 1;
}

.stat-wrapper polyline {
  fill: var(--stat-color);
  opacity: 0.8;
  mix-blend-mode: luminosity;
}

.stat-wrapper text {
  fill: var(--card-text);
  font-size: 6px;
  text-anchor:middle; dominant-baseline:middle;
}

/* ===== chk ===== */
.chk-wrapper{
  padding: 10px 10px 0;
  border-top: 1px solid var(--stat-color);
}
.chk-wrapper .chk-list{
  display: inline-block;
  text-align: center;
  width: 47px;
}
.chk-wrapper .chk-list > dt{
  font-size: 12px;
  word-break: keep-all;
}
.chk-wrapper .chk-list > dd{
  height: 28px;
}

.chk-list input[type="checkbox"]{
  position: relative;
  display: block;
  width: 100%; height: 0;
}
.chk-list input[type="checkbox"]::before{
  content: "";
  display: block;
  width: 13px; height: 13px;
  position: absolute;
  top: 2px; left: 50%;
  transform: translateX(-50%);
  background: var(--card-accent);
  border: 4px solid var(--card-accent);
  border-radius: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.chk-list input[type="checkbox"]:checked:before{
  box-shadow: inset 0 0 0 10px var(--card-bg);
}

/* ===== Progress ===== */
.info-middle{
    width:32%;
    border-left: 1px solid var(--stat-color);
}

.progress-wrapper{
  padding: 20px 10px;
}

.progress-wrapper dt {
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 700;
}

.progress-wrapper dd {
  height: 8px;
  background: rgba(255,255,255,0.1);
  border-radius: 999px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progress-wrapper .bar {
  height: 100%;
  background: var(--stat-color);
  border-radius: 999px;
}

/* ===== mood ===== */
.mood-wrapper{
  padding: 10px 10px;
  border-top: 1px solid var(--stat-color);
}

.img-list{
  position: relative;
  display: flex;
  width: 100%; height: 100%;
}
.img-list li{
  display: block;
  width: calc((100% / 2) - 5px);
  height: 146px;
  background: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
}
.img-list li + li{
  margin-left: 10px;
}

/* ===== ETC ===== */

.etc-section {
  min-height: 148px;
  border-top: 1px solid var(--stat-color);
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 13px;
}
.etc-section #etcLabel{
  font-size: 15px;
  font-weight: 700;
}

.etc-section #etcValue{
  position: relative;
  display: block;
  height: 95px;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  z-index: 1;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: hidden;
  line-height: 1.5em;
}
.etc-section #etcValue::before{
  content: "";
  display: block;
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: var(--card-bg);
  opacity: 0.5;
  border-radius: 16px;
  z-index: -1;
}

/* ================= EDITOR PANEL ================= */

.editor-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100vh;
  background: #fff;
  box-shadow: -10px 0 30px rgba(0,0,0,0.4);
  transition: transform .45s cubic-bezier(.4,0,.2,1);
  z-index: 10;
}

.editor-panel.folded {
  transform: translateX(450px);
}

.toggle-editor {
  position: absolute;
  left: -40px;
  top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px 0 0 8px;
  border: none;
  cursor: pointer;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);
}

.panel-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.panel-scroll h2 {
  margin-bottom: 12px;
}

section {
  margin-bottom: 18px;
}

section h3 {
  margin-bottom: 6px;
  font-size: 14px;
}

label {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 6px;
}

button {
  height: 30px;
  padding: 0 10px;
  border-radius: 6px;
  border: none;
  background: #111;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  word-break: keep-all;
}

button:hover {
  background: #333;
}

.panel-scroll section + section{
  padding-top: 10px;
  text-align: right;
}
.panel-scroll section > h3{
  padding:5px 10px;
  background: #333;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
  text-align: left;
}

.info-form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.info-form-row label{
  line-height: 30px;
}
.info-form-row .tit-formLabel{
  width: 90px;
  text-align: left;
}
.info-form-row .tit-formLabel + input[type="text"]{
  width: calc(100% - 100px);
}
.info-form-row small{
  display: block;
  width: 100%;
  text-align: left;
}
.info-form-row > input:nth-of-type(1){
  width: 100px;
}
.info-form-row > input:nth-of-type(2){
  width: calc(100% - 145px);
}

#titPreset{
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
#titPreset:hover{
  background: #eee;
}

#imgList{
  display: flex;
}
#imgList > div{
  display: block;
  width: 50%;
}

#progressFormList,
#radarForm{
  display: flex;
  gap: 5px;
}
#progressFormList > div{
  text-align: center;
}
#progressToggle,
#radarToggle,
#progressFormList > div > button,
#addProgressRow{
  display: none;
}

#chkFormList{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
#chkFormList > div{
  position: relative;
  width:calc((100% / 5) - 4px);
  overflow: hidden;
  text-align: center;
}
#chkFormList > div > input[type="checkbox"]{
  display: block;
  position: relative;
  width: 100%;
}
#chkFormList > div > input[type="checkbox"]::after{
  content: "☐ OFF";
  display: block;
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  background: #7a7a7a;
  color: #b6b6b6;
  text-align: center;
  cursor: pointer;
}
#chkFormList > div > input[type="checkbox"]:checked:after{
  content: "☑ ON";
  background: #333;
  color: #fff;
}

#chkFormList > div > input[type="text"]{
  width: 100%;
}

#cardColorList > input{
  width: calc((100% / 4) - 4px);
  height: 50px;
}

#presetList{
  display: flex;
}
#presetList > div{
  width: 50%;
}
#presetList > div > button{
  width: 100%;
}

.fixedBtn{
  display: block;
  position: sticky;
  bottom: -20px; left: 0;
  background: #fff;
  padding:20px 0;
}
.fixedBtn > button{
  width: 100%;
  font-size: 17px;
  font-weight: 700;
}

/* ===== Utils ===== */

.hidden {
  display: none !important;
}

/* 가이드 */
.help-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:#333;
  color: #fff;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;
  transition: transform 0.2s;
}

.help-btn:hover {
  transform: scale(1.1);
}

/* 팝업이 떠있을 때 배경 스크롤 방지용 (선택) */
body.modal-open {
  overflow: hidden;
}

/* 모달 레이아웃 */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(4px);
}

.modal-content {
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  border-radius: 15px;
  overflow:hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

/* 헤더 및 푸터 */
.modal-header {
  padding: 20px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 { margin: 0; font-size: 1.2rem; }

.close-btn {
  background: none; border: none;
  color: #fff; font-size: 1.5rem; cursor: pointer;
}

.modal-body { padding: 20px; background: #fff; color: #333; line-height: 1.6; overflow-y: auto;}
.modal-body::-webkit-scrollbar {
  width: 6px;
}
.modal-body::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}
.modal-body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
.modal-body::-webkit-scrollbar-button {
  display: none;
}
.modal-body {
  scrollbar-width: thin;
  scrollbar-color: #555;
}

.modal-body section { margin-bottom: 20px; }

.modal-body h3 { 
  font-size: 1rem; color: #333; 
  border-bottom: 2px solid #eee; padding-bottom: 5px; 
}

.modal-body ul { padding-left: 20px; margin: 10px 0; }
.modal-body ul li > strong{display: block;}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #eee;
}

#guideConfirmBtn {
  background: #fff;
  color: #333; border: none;
  font-weight: 700;
  padding: 0 30px; border-radius: 5px;
  cursor: pointer; transition: opacity 0.2s;
}

#guideConfirmBtn:hover { opacity: 0.8; }


/* 미디어 쿼리 */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    height:100%;
  }
  .card-area{
    display: block;
    overflow-x: scroll;
    padding: 0;
  }
  #cardArea.folded .card{
    transform: scale(0.9);
  }
  .card-area::after{
    content: "← 좌우로 움직여서 확인하세요. →";
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10px; left: 0;
    font-size: 13px;
  }
  .toggle-editor{
    top: -42px; left: 0;
    transform: rotate(90deg);
  }
  #editorPanel{
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 0 20px 0; /* 아래쪽 여백 추가 */
    padding: 15px;
  }
  #editorPanel{
    transform: translateX(0) translateY(42px);
  }
  #editorPanel.folded{
    transform: translateX(0) translateY(600px);
  }

  .input-row {
    flex-direction: column; /* 라벨과 입력창을 세로로 */
    align-items: flex-start;
  }
  
  .input-row label {
    width: 100%;
    margin-bottom: 5px;
  }
  #progressFormList,
  #radarForm{
    flex-wrap: wrap;
  }
  #progressFormList > div,
  #radarForm > div,
  #chkFormList > div{
    width: calc((100% / 2) - 4px);
  }
  #chkFormList{
    margin-bottom: 5px;
  }

  button {
    min-height: 30px;
    font-size: 13px;
  }

  .modal-content {
    width: 95%;
    max-height: 90vh;
    margin-top: 5vh;
  }

  .grid-container {
    grid-template-columns: 1fr !important;
  }

  .fixedBtn{
    bottom:0;
  }

  .help-btn{
    top: 10px;
    bottom: auto;
    left: auto;
    right: 0;
  }
}

/* ============================================================
   초소형 기기 (480px 이하)
   ============================================================ */
@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
}